.property {
    margin: 0.5em 0;
}

.property label {
    display: inline-block;
    width: 8em;
}

#hash, #predecessor {
    font-family: courier, monospace;
}

.collapsed {
    color: red;
}

.collapsed > .object, .collapsed > .list {
    color: green;
    display: none;
}

/* prevent list bullets from displaying, which can happen even when the context is hidden */
.collapsed li {
    list-style: none;
}

.schemadata ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.listmark {
    float: left;
    margin-right: 0.5em;
}
