body {
    margin: 1em;
}

.property-list {
    display: table;
    width: 80%;
}

.property {
    display: table-row;
}

.property > div {
    display: table-cell;
    padding: .35em;
}

.property .label {
    font-style: italic;
}

.property ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li.operation {
    color: blue;
}

li.operation:hover {
    text-decoration: underline;
}

/*
TR.head TD {
    padding: .5em;
}
*/

.operation-data {
    word-wrap: break-word;
    word-break: break-all;
}

#hash, #predecessor {
    font-family: courier, monospace;
}

.collapsed {
    color: red;
}

.collapsed > .object, .collapsed > .list, .collapsed > .string {
    color: green;
    display: none;
}

/* prevent list bullets from displaying, which can happen even when the context is hidden */
.collapsed li {
    list-style: none;
}

.schemadata ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.listmark {
    float: left;
    margin-right: 0.5em;
}

.collapsed .listmark{
    /* Without this, content following a collapsed list item starts on same line as the list mark. */
    float: none;
}

.fieldlabel {
    color: blue;
}

.collapsed .fieldlabel {
    color: red;
}

.bullet, .fieldlabel {
    cursor: pointer;
}

.bullet:hover, .fieldlabel:hover {
    background-color: yellow;
}

.suffix {
    color: #CCC;
}

/* scrollable table */

.scrollable.branch {
    height: 300px;
    width: 25em;
}

.scrollable table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
} 

.scrollable table thead {
    /* flex: 0 0 auto; */
    width: calc(100% - 1em); /* room for scrollbar */
}

.scrollable table tbody {
    /* flex: 1 1 auto; */
    display: block;
    overflow-y: scroll;
}

.scrollable tbody tr {
    width: 100%;
}

.scrollable thead, .scrollable tbody {
    display: table;
    table-layout: fixed;
}


div.scrollable2 {
    display: block;
    height: 250px;
    overflow-y: auto;
}


.heads td, .heads th {
    padding: .5em 1em;
}


.branch td.operations {
    text-align: right;
}

table.blockchain td {
    padding: .4em;
}

table.keys td {
    padding: .4em;
}

table.peers td,
table.peers th {
    padding: .4em;
}

table.contracts td,
table.contracts th {
    padding: .4em;
}

table.contracts td.balance {
    text-align: right;
}

.connection .timestamp {
    white-space: nowrap;
}

td.timestamp {
    white-space: nowrap;
}

td.age {
    font-size: 85%;
}

/* make block hash values look like link */

table.blockchain tr.block td.hash,
table.heads td.hash,
.link {
    color: blue;
    text-decoration: none;
}

table.blockchain tr.block td.hash:hover,
table.heads td.hash:hover,
.link:hover {
    color: red;
    text-decoration: underline;
}

A {
    text-decoration: none;
}


td.hash, div.hash, span.hash,
td.predecessor, div.predecessor,
.property > .net_id,
.property > .source
,property > .signature {
    font-family: Andale Mono, Courier New, monospace;
}


.number {
    text-align: right;
}

tr.selected {
    background-color: yellow;
}

table.operations td,
table.operations th {
    padding: .35em 1em;
}

table.operations td ul {
    margin: 0;
}

.operation-count {
    text-align: right;
}

.nav-links {
    background-color: #333;
    padding: .5em 0;
}

.nav-links li {
    display: inline;
    border-right: 1px solid #bbb;
}

.nav-links a {
    color: white;
    padding: .5em .5em;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: gray;
}

.error-count {
    display: none;
}

.error-count.have-errors {
    display: block;
}

.error-count a {
    color: white;
    background-color: red;
    padding: 3px;
    text-decoration: none;
}

.page-header h1 {
    float: left;
    margin: 0.25em;
}

.page-header .now {
    float: right;
}

.page-header .nav-links {
    clear: both;
}


/* Try some code layout via CSS. (Might be a failed experiment.) */

/* 
div.primarg,
div.sequence,
div.primargarg {
    display: inline;
}


div.primarg-IF,
div.primarg-IF-NONE,
div.primarg-PUSH,
div.primarg-DIP
{
    display: block;
}

div.primargarg-IF,
div.primargarg-IF-NONE,
 {
    display: block;
    margin-left: 2em;
}

*/

div.SeqT {
    display: inline;
}

div.PrimArgT {
    display: inline;
}

div.primargarg {
    display: inline;
}

.PrimT {
    display: block;
    margin-left: 0.25em;
    margin-right: 0.25em;
}


