body {
    margin: 1em;
    background: linear-gradient(to right, #fdf6e3, #eee8d6);
}

.property-list {
    display: table;
    width: 80%;
}

.property {
    display: table-row;
}

.property > div {
    display: table-cell;
    padding: .35em;
}

.property .label {
    font-style: italic;
}

.property ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li.operation {
    color: blue;
}

li.operation:hover {
    text-decoration: underline;
}

/*
TR.head TD {
    padding: .5em;
}
*/

.operation-data {
    word-wrap: break-word;
    word-break: break-all;
}

#hash, #predecessor {
    font-family: courier, monospace;
}

.collapsed {
    color: red;
}

.collapsed > .object, .collapsed > .list, .collapsed > .string {
    color: green;
    display: none;
}

/* prevent list bullets from displaying, which can happen even when the context is hidden */
.collapsed li {
    list-style: none;
}

.schemadata ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.listmark {
    float: left;
    margin-right: 0.5em;
}

.collapsed .listmark{
    /* Without this, content following a collapsed list item starts on same line as the list mark. */
    float: none;
}

.fieldlabel {
    color: blue;
}

.collapsed .fieldlabel {
    color: red;
}

.bullet, .fieldlabel {
    cursor: pointer;
}

.bullet:hover, .fieldlabel:hover {
    background-color: yellow;
}

.suffix {
    color: #CCC;
}

/* scrollable table */

.scrollable.branch {
    height: 300px;
    width: 25em;
}

.scrollable table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
} 

.scrollable table thead {
    /* flex: 0 0 auto; */
    width: calc(100% - 1em); /* room for scrollbar */
}

.scrollable table tbody {
    /* flex: 1 1 auto; */
    display: block;
    overflow-y: scroll;
}

.scrollable tbody tr {
    width: 100%;
}

.scrollable thead, .scrollable tbody {
    display: table;
    table-layout: fixed;
}


div.scrollable2 {
    display: block;
    height: 250px;
    overflow-y: auto;
}


table.heads tr:nth-child(even) {
    background-color: #EEE8D5;
}

.heads td, .heads th {
    padding: .5em 1em;
}


.branch td.operations {
    text-align: right;
}

table.blockchain td {
    padding: .4em;
}

table.keys tbody tr:nth-child(even) {
    background-color: #EEE8D5;
}

table.keys td {
    padding: .4em;
}

.peers tbody tr:nth-child(even) {
    background-color: #EEE8D5;
}

table.peers td,
table.peers th,
div.peers td,
div.peers th {
    padding: .4em;
}

table.contracts td,
table.contracts th {
    padding: .4em;
}

table.contracts td.balance {
    text-align: right;
}

.connection .timestamp {
    white-space: nowrap;
}

td.timestamp {
    white-space: nowrap;
}

td.age {
    font-size: 85%;
}

/* make block hash values look like link */

table.blockchain tr.block td.hash,
table.heads td.hash,
.link {
    color: blue;
    text-decoration: none;
}

table.blockchain tr.block td.hash:hover,
table.heads td.hash:hover,
.link:hover {
    color: red;
    text-decoration: underline;
}

.hash A {
    text-decoration: none;
}

td.hash, div.hash, span.hash, a.hash,
td.predecessor, div.predecessor,
td.baker,
.property td.branch, .property div.branch,
.property > .net_id,
.property > .source
,property > .signature {
    font-family: Andale Mono, Courier New, monospace;
    text-decoration: none;
}


.number {
    text-align: right;
}

tr.selected {
    background-color: yellow;
}

table.operations td,
table.operations th {
    padding: .35em 1em;
}

table.operations td ul {
    margin: 0;
}

.operation-count {
    text-align: right;
}

.nav-links {
    background-color: #333;
    padding: .5em 0;
}

.nav-links li {
    display: inline;
    border-right: 1px solid #bbb;
}

.nav-links a {
    color: white;
    padding: .5em .5em;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: gray;
}

.nav-links .active a {
    color: #A6E000;
}

.error-count {
    display: none;
}

.error-count.have-errors {
    display: block;
}

.error-count a {
    color: white;
    background-color: red;
    padding: 3px;
    text-decoration: none;
}

.page-header h1 {
    float: left;
    margin: 0.25em;
}

.page-header .now {
    float: right;
}

.page-header .tagline {
    float: left;
    font-style: italic;
    margin: 1.25em 0 0 2em;
}

.page-header .nav-links {
    clear: both;
}

/* Try some code layout via CSS */

.PrimT, .IntT, .StringT {
    padding-right: .5em;
}

.sequence {
    margin-left: 1em;
}

.primargs {
    margin-left: 1em;
}

.primarg-DIP,
.primarg-IF,
.primarg-IF-LEFT,
.primarg-IF-NONE,
.primarg-LAMBDA
{
    display: block;
}

div.program {
    font-family: Consolas, "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}

table.accounts td {
    padding: .35em 1em;
}

table.transactions td {
    padding: .35em 1em;
}

table.transactions tr.source td.amount {
    color :red;
}

table.transactions tr.destination td.amount {
    color :green;
}

div.accounts-table-container tbody tr:nth-child(even) {
    background-color: #EEE8D5;
}

div.accounts-table-container table th {
    padding: 1em;
}

div.accounts-table-container table td {
    padding: .3em 1em;
}

div.accounts-table-container table tbody tr td:nth-child(2)
, div.accounts-table-container table tbody tr td:nth-child(3)
, div.accounts-table-container table tbody tr td:nth-child(4)
, div.accounts-table-container table tbody tr td:nth-child(5)
{
    text-align: right;
}

div.accounts-table-container input.query {
    margin: 0 0 1em 1em;
}

div.transactions-container table td {
    padding: .3em 1em;
}

div.transactions-container table td.destination {
    color: green;
}

div.transactions-container table td.source {
    color: red;
}

div.delegations-container table td {
    padding: .3em 1em;
}

table.blockchain th {
    padding: .3em 1em;
}

table.blockchain tbody tr:nth-child(even) {
    /* background-color: #f6f6f6; */
    /* background-color: #fdf6e3; */
    background-color: #EEE8D5;
}

div.contracts tbody tr:nth-child(even) {
    background-color: #EEE8D5;
}

div.contracts table td
, div.contracts table th
{
    padding: .3em 1em;
}

div.contracts table tbody tr td:nth-child(2)
, div.contracts table tbody tr td:nth-child(4)
, div.contracts table tbody tr td:nth-child(5)
{
    text-align: right;
}

tr.operation-group:nth-child(even) {
    background-color: #EEE8D5;
}

tr.operation-group td {
    padding: .25em 1em;
}

span.nonce {
    font-size: 80%;
}

.footer {
    font-size: 80%;
}

.scroll-footer {
    text-align: right;
    margin-right: 15px;
    font-size: 80%;
    color: gray;
    font-style: italic;
}

.payload-message
, .response-body
{
    white-space: pre-line;
    font-family: Andale Mono, Courier New, monospace;
    font-size: 80%;
}

.response {
    white-space: pre-line;
    font-family: Andale Mono, Courier New, monospace;
    font-size: 80%;
}

.delegations-container tr:nth-child(even) {
    background-color: #EEE8D5;
}

.delegations-container input {
    margin: 0.8em;
}
