body {
    margin: 1em;
}

.property-list {
    display: table;
}

.property {
    display: table-row;
}

.property > div {
    display: table-cell;
    padding: .5em;
}

.property .label {
    font-style: italic;
}

.operation-data {
    word-wrap: break-word;
    word-break: break-all;
}

#hash, #predecessor {
    font-family: courier, monospace;
}

.collapsed {
    color: red;
}

.collapsed > .object, .collapsed > .list, .collapsed > .string {
    color: green;
    display: none;
}

/* prevent list bullets from displaying, which can happen even when the context is hidden */
.collapsed li {
    list-style: none;
}

.schemadata ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.listmark {
    float: left;
    margin-right: 0.5em;
}

.collapsed .listmark{
    /* Without this, content following a collapsed list item starts on same line as the list mark. */
    float: none;
}

.fieldlabel {
    color: blue;
}

.collapsed .fieldlabel {
    color: red;
}

.bullet, .fieldlabel {
    cursor: pointer;
}

.bullet:hover, .fieldlabel:hover {
    background-color: yellow;
}

.suffix {
    color: #CCC;
}

table.blockchain td {
    padding: .5em;
}

/* make block hash values look like link */

table.blockchain tr.block td.hash {
    color: blue;
}

table.blockchain tr.block td.hash:hover {
    color: red;
    text-decoration: underline;
}
